# здесь указывается, что является текстом или бинарным файлом

#*force text 
*.html text
*.js text
*.css text

#* windows
*.sln text eol=crlf
*.bat eol=crlf

#* unix
*.sh eol=lf

#* bin
*.jpg -text
*.gif -text
*.exe -text
*.dll -text


#* change language tag and fix binary file not shown

*.mdl linguist-language=HLSL
*.bmf linguist-language=HLSL
*.ep linguist-language=HLSL
*.rsc filter=lfs diff=lfs merge=lfs -text linguist-language=Lua
*.bin filter=lfs diff=lfs merge=lfs -text linguist-language=HLSL
*.tex filter=lfs diff=lfs merge=lfs -text linguist-language=TeX
*.fnt linguist-language=F#
*.lfx linguist-language=HLSL
*.tfx linguist-language=HLSL
*.pfx linguist-language=HLSL
*.gtitle linguist-language=Python
*.gtitleinfo linguist-language=Python
*.lua diff linguist-language=Lua
*.lua text working-tree-encoding=UTF-8 eol=CRLF
*.dlg text working-tree-encoding=UTF-8 eol=CRLF
*.dlg diff linguist-language=Lua
*.txt diff linguist-language=Shell
*.txt text working-tree-encoding=UTF-8 eol=CRLF
*.wld linguist-language=C++
