#! òåêñòîâàÿ êîíôèãóðàöèÿ ôàéëîâ

#? text=auto - ãèò ñàì îïðåäåëÿåò òåêñòîâûé ýòî ôàéë èëè áèíàðíûé
#? if(-text) - ñíèìàåò îïðåäåëåíèå òåêñòîâîãî/áèíàðíîãî ôîðìàòà

* text=auto

#*force text 
*.html text
*.js text
*.css text

#* windows
*.sln text eol=crlf
*.bat eol=crlf

#* unix
*.sh eol=lf

#* bin
*.jpg -text
*.gif -text
*.exe -text
*.dll -text


#* change language tag

*.mdl linguist-language=HLSL
*.bmf linguist-language=HLSL
*.ep linguist-language=HLSL
*.rsc linguist-language=Lua
*.fnt linguist-language=F#
*.lfx linguist-language=HLSL
*.tfx linguist-language=HLSL
*.pfx linguist-language=HLSL
*.gtitle linguist-language=Python
*.gtitleinfo linguist-language=Python
*.lua linguist-language=Lua
*.dlg linguist-language=Lua
*.wld linguist-language=C++